address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var{
    padding: 0;
    margin: 0;
}

/*全局设置*/
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
html{
    height: 100%;
}
body{
    height: 100%;
    /*隐藏水平方向滚动条*/
    /*overflow-x:hidden;*/
    /*position: relative;*/
    /*overflow-y: auto;*/
}

/*蒙版*/
.hud{
    background-color: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 1100;
    display: none;
}

/*最外层容器*/
.container{
    background: url("../images/bg1.jpg") no-repeat center top;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/*导航栏-起始位置为左侧*/
.navi{
    width: 300px;
    height: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    top:0;
    z-index: 1000;
    transition: all 0.5s ease-in-out 0s;
}
.navi .navi_top{
    width: 100%;
    height: 180px;
    background-color: #4d4d4d;
    position: relative;
}
.navi .navi_top .icon img{
    width: 130px;
    height: 130px;
    border-radius: 70px;
    box-sizing: border-box;
    border: 5px solid white;
    position: absolute;
    bottom: -62px;
    left: 50%;
    margin-left: -65px;
    transition-duration: 0.5s;
    transition-property: transform;
}
.navi .navi_top .icon img:hover{
    transform: scale(2,2) rotate(90deg);
}
.navi .navi_top .navi_menu{
    opacity: 0;
    position: absolute;
    left: 10px;
    top: 10px;
}
.navi .navi_top .navi_menu img{
    width: 22px;
    height: 22px;
}
.navi .navi_bottom{
    background-color: #ffffff;
    width: 100%;
    height: 90%;
    padding-top: 90px;
    box-sizing: border-box;
    pointer-events:none;
}
.navi .navi_bottom .name{
    font-size: 27px;
    color: #929292;
}
.navi .navi_bottom .quotate_p{
    margin-top: 40px;
    color: #999999;
}
.navi .navi_bottom div{
    color: #696969;
}
.navi .navi_bottom button{
     color: #696969;
     border: 0px;
     background-color: white;
}
.navi .navi_bottom .home_div{
    font-size: 14px;
    margin-top: 50px;
}
.navi .navi_bottom .home_div>a{
    color: #696969;
    pointer-events: auto;
}
.navi .navi_bottom .home_div a:hover{
    color: burlywood;
}
.navi .navi_bottom .ablum_div{
    margin-top: 10px;
    font-size: 14px;
}
.navi .navi_bottom .ablum_div>a{
    color: #696969;
    pointer-events: auto;
}
.navi .navi_bottom .ablum_div a:hover{
    color: burlywood;
}
.navi .navi_bottom .moreFunc{
    margin-top: 50px;
}
.navi .navi_bottom .moreFunc>a{
    font-size: 13px;
    cursor: pointer;
    color: #696969;
    pointer-events: auto;
}
.navi .navi_bottom .moreFunc>a:hover{
    color: burlywood;
}
.navi .navi_bottom .friendsLink{
    margin-top: 25px;
}
.navi .navi_bottom .friendsLink>a{
    pointer-events: auto;
}
.navi .navi_bottom .friendsLink>a>img{
    width: 32px;
    height: 32px;
    margin: 5px;
}
.navi .navi_bottom .friendsLink>a>img:hover{
    transform: scale(1.2,1.2);
}


/*工具模块*/
.tools{
    width: 300px;
    height: 100%;
    position: relative;
    float: left;
    transition: transform 0.5s ease-in-out 0s;
    /*transition: all 0.5s ease-in-out 0s;*/
    box-shadow: 1px 1px 5px black;
}
.tools .introduction{
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.tools .introduction>li{
    margin-bottom: 10px;
}
.tools .introduction>li:first-child{
    font-size: 23px;
    margin-bottom: 20px;
}
.tools .introduction>li:nth-child(7){
    margin-top: 20px;
}

/*内容模块布局*/
.content{
    height: 100%;
    /*height: 7000px;*/
    margin-left: 300px;//330
    margin-right: 30px;
    transition: transform 0.5s ease-in-out 0s;
    background-color: #eaeaea;
}
/*内容模块-右侧内容-文章模块*/
.content .content_articles{
    height: 100%;
    /*height: 7000px;*/
    overflow-y:auto;
    overflow-x: hidden;
}

/*内容模块底部工具栏*/
.backTopBtn{
    background: url("../images/toparrow.png") no-repeat center center;
    /*background-color: #d6d6d6;*/
    background-color: #929292;
    opacity: 0.5;
    width: 40px;
    height: 40px;
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    position: fixed;
    right:30px;
    bottom:50px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
.backTopBtn:hover{
    background-color: #67cdf1;
    opacity: 1;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*底部模块*/
.footer {
    background-color: #eaeaea;
    width: 100%;
    /*height: 150px;*/
}

/*每个文章*/
/*.content .content_articles>li{*/
    /*background-color: white;*/
    /*height: 750px;*/
    /*position: relative;*/
    /*margin-top: 30px;*/
    /*padding: 30px 60px 0px 60px;*/
    /*font-size: 22px;*/
    /*overflow: hidden;*/
    /*margin-left: 30px;*/
    /*margin-right: 30px;*/
/*}*/
/*.content .content_articles>li:last-child{*/
    /*margin-bottom: 30px;*/
/*}*/
/*.content .content_articles>li>.leftLine{*/
    /*background-color: black;*/
    /*width: 5px;*/
    /*height: 80px;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top:0;*/
/*}*/
/*.content .content_articles>li>div{*/
    /*color: #69697f;*/
    /*font-size: 17px;*/
    /*margin-bottom: 30px;*/
/*}*/
/*.content .content_articles>li>.art_title{*/
    /*width: 100%;*/
    /*height: 50px;*/
/*}*/
/*.content .content_articles>li>.art_picture{*/
    /*width: 400px;*/
    /*height: 250px;*/
/*}*/
/*.content .content_articles>li>.art_mainText{*/
    /*width: 100%;*/
    /*height: 250px;*/
/*}*/
/*.content .content_articles>li>.art_foot{*/
    /*width: 100%;*/
    /*border-top: 1px solid #cccccc;*/
    /*height: 80px;*/
    /*position: relative;*/
/*}*/
/*!*内容-文章-底部模块*!*/
/*.content .content_articles>li>.art_foot>.art_tag{*/
    /*width: 70%;*/
    /*height: 100%;*/
    /*position: absolute;*/
    /*top:0;*/
    /*left: 0;*/
/*}*/
/*.content .content_articles>li>.art_foot>.art_fullTextBtn{*/
    /*background-color: #4d4d4d;*/
    /*width: 80px;*/
    /*height: 25px;*/
    /*line-height: 25px;*/
    /*color: white;*/
    /*font-size: 13px;*/
    /*display: block;*/
    /*text-align: center;*/
    /*position: absolute;*/
    /*top:50%;*/
    /*right:0;*/
    /*transform: translateY(-50%);*/
    /*border-radius: 3px;*/
/*}*/
/*内容模块-右侧内容-相册模块*/



/*屏幕适配*/
@media screen and (max-width: 790px) {
    .navi{
        width: 100%;
        height: 330px;
        position: absolute;
        /*box-shadow: none;*/
    }
    .navi .navi_top{
        width: 100%;
        height: 100px;
    }
    .navi .navi_top .icon>img{
        bottom: -40px;
        transition-property: none;
    }
    .navi .navi_top .icon>img:hover{
        transform: none;
    }
    .navi .navi_top .navi_menu{
        opacity: 1;
    }
    .navi .navi_bottom{
        height: 230px;
        width: 100%;
        padding-top: 50px;
        background-color:#eaeaea;
        box-shadow: 0 0 0 white;
    }
    .navi .navi_bottom .name{
        margin: 0 auto;
    }
    .navi .navi_bottom .quotate_p{
        margin-top: 15px;
    }
    .navi .navi_bottom .home_div{
        display: inline-block;
        width: 30%;
        height: 25px;
        line-height: 25px;
        border: 1px solid #cccccc;
        color: #959595;
        border-radius: 5px;
    }
    .navi .navi_bottom .ablum_div{
        display: inline-block;
        width: 30%;
        height: 25px;
        line-height: 25px;
        border: 1px solid #cccccc;
        color: #959595;
        margin-left: 0px;
        margin-top: 65px;
        border-radius: 5px;
    }
    .navi .navi_bottom .moreFunc{
        opacity: 0;
    }
    .navi .navi_bottom .friendsLink{
        margin-top: 0px;
        transform: translateY(-150px);
    }
    .tools{
        /*z-index: 1000;*/
        /*background-color: #b6cbc6;*/
        background: url("../images/bg1.jpg") no-repeat center top;
        /*transform: none;*/
        /*transform: translateX(-300px);*/
        float: none;
        position: absolute;
        left: -300px;
        top:0;
    }
    .content{
        width: 100%;
        position: absolute;
        top:330px;
        left: -300px;
        /*transform: none;*/
        /*transform: translateX(-300px);*/
        height: 7900px;
    }
    .content .content_articles{
    }

}