address,figure,b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var{
    padding: 0;
    margin: 0;
}

/*全局设置*/
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
    /*隐藏水平方向滚动条*/
    /*overflow-x:hidden;*/
    /*position: relative;*/
    overflow-y: auto;
    overflow-x: hidden;
}

/*蒙版*/
.hud{
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 1100;
    display: none;
}

/*最外层容器*/
.container{
    background: url("../images/bg1.jpg") no-repeat center top;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/*导航栏-起始位置为左侧*/
.navi{
    width: 300px;
    height: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    top:0;
    z-index: 1000;
    transition: transform 0.5s ease-in-out 0s;
}
.navi .navi_top{
    width: 100%;
    height: 180px;
    background-color: #4d4d4d;
    position: relative;
}
.navi .navi_top .icon img{
    width: 130px;
    height: 130px;
    border-radius: 70px;
    box-sizing: border-box;
    border: 5px solid white;
    position: absolute;
    bottom: -62px;
    left: 50%;
    margin-left: -65px;
    transition-duration: 0.5s;
    transition-property: transform;
}
.navi .navi_top .icon img:hover{
    transform: scale(2,2) rotate(90deg);
}
.navi .navi_top .navi_menu{
    opacity: 0;
    position: absolute;
    left: 10px;
    top: 10px;
}
.navi .navi_top .navi_menu img{
    width: 22px;
    height: 22px;
}
.navi .navi_bottom{
    background-color: #ffffff;
    width: 100%;
    height: 90%;
    padding-top: 90px;
    box-sizing: border-box;
    pointer-events:none;
}
.navi .navi_bottom .name{
    font-size: 27px;
    color: #929292;
}
.navi .navi_bottom .quotate_p{
    margin-top: 40px;
    color: #999999;
}
.navi .navi_bottom div{
    color: #696969;
}
.navi .navi_bottom button{
     color: #696969;
     border: 0px;
     background-color: white;
}
.navi .navi_bottom .home_div{
    font-size: 14px;
    margin-top: 50px;
}
.navi .navi_bottom .home_div>a{
    color: #696969;
    pointer-events: auto;
    cursor: pointer;
}
.navi .navi_bottom .home_div a:hover{
    color: burlywood;
}
.navi .navi_bottom .ablum_div{
    margin-top: 10px;
    font-size: 14px;
}
.navi .navi_bottom .ablum_div>a{
    color: #696969;
    pointer-events: auto;
    cursor: pointer;
}
.navi .navi_bottom .ablum_div a:hover{
    color: burlywood;
}
.navi .navi_bottom .moreFunc{
    margin-top: 50px;
}
.navi .navi_bottom .moreFunc>a{
    font-size: 13px;
    cursor: pointer;
    color: #696969;
    pointer-events: auto;
}
.navi .navi_bottom .moreFunc>a:hover{
    color: burlywood;
}
.navi .navi_bottom .friendsLink{
    margin-top: 25px;
}
.navi .navi_bottom .friendsLink>a{
    pointer-events: auto;
}
.navi .navi_bottom .friendsLink>a>img{
    width: 32px;
    height: 32px;
    margin: 5px;
}
.navi .navi_bottom .friendsLink>a>img:hover{
    transform: scale(1.2,1.2);
}

/*工具模块*/
.tools{
    width: 300px;
    height: 100%;
    position: relative;
    float: left;
    transition: transform 0.5s ease-in-out 0s;
    /*transition: all 0.5s ease-in-out 0s;*/
    box-shadow: 1px 1px 5px black;
}
.tools .introduction{
    opacity: 0;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.tools .introduction>li{
    margin-bottom: 10px;
}
.tools .introduction>li:first-child{
    font-size: 23px;
    margin-bottom: 20px;
}
.tools .introduction>li:nth-child(6){
    margin-top: 20px;
}
/*工具栏所有文章模块*/
.tools .allArticles{
    width: 330px;
    /*height: 100%;*/
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.tools .allArticles>input{
    border: 0;
    outline: none;
}
.tools .allArticles>input[type=search]{
    display: inline-block;
    width: 280px;
    height: 30px;
    color: white !important;
    font-size: 14px;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid white;
}
/*设置搜索框占位文字颜色*/
.tools .allArticles>input[type=search]:-moz-placeholder {
    color: white;
}
.tools .allArticles>input[type=search]::-webkit-input-placeholder
{
    color: white;
}
.tools .allArticles>input[type=search]:-ms-input-placeholder
{
    color: white;
}
.tools .allArticles>input[type=search] input:-moz-placeholder
{
    color: white;
}
/*是否显示标签栏的按钮外层*/
.tools .allArticles .tools_showTags_div{
    width: 100%;
    height: 18px;
    margin-top: 15px;
}
/*是否显示标签栏的按钮内层*/
.tools .allArticles .tools_isShowTags{
    position: absolute;
    right: 10px;
    color: white;
    font-size: 14px;
}
/*是否显示标签栏的按钮内层*/
.tools .allArticles .tools_isShowTags>button{
    background: url("../images/icon_slider_on.png");
    width: 32px;
    height: 18px;
    outline: none;
    border: 0;
    cursor: pointer;
    float: right;
}
/*标签栏*/
.tools .allArticles>.tools_tags{
    margin-top: 15px;
    /*0.31*/
    background-color: rgba(255, 255, 255,0);
    margin-right: 20px;
    /*height: 200px;*/
    padding: 10px;
}
/*所有文章缩略的清单*/
.tools .allArticles>.tools_art_list{
    background-color: rgba(255, 255, 255, 0);
    margin-top: 15px;
    margin-right: 20px;
    height: 300px;
}
/*工具栏中<=790px时显示的选择条（所有文章/关于我）*/
.tools .tools_selectBar{
    background-color: transparent;
    width: 210px;
    height: 25px;
    color: white;
    /*position: fixed;*/
    /*left: 50%;*/
    /*top:50px;*/
    /*transform: translateX(-50%);*/
    display: none;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid white;
    border-radius: 3px;
}
.tools .tools_selectbar a{
    display: inline-block;
    background-color: red;
    width: 105px;
    height: 25px;
}
/*内容模块布局*/
.content{
    height: 100%;
    /*height: 7000px;*/
    margin-left: 300px;/**330px*/
    /*margin-right: 30px;*/
    transition: transform 0.5s ease-in-out 0s;
    background-color: #eaeaea;
    position: relative;
}
/*内容模块-右侧内容-文章模块*/
.content .content_articles{
    height: 100%;
    /*height: 7000px;*/
    overflow-y:auto;
    overflow-x: hidden;
}
/*内容模块-右侧内容-相册模块*/
.content .content_ablum{
    height: 100%;
    overflow-y: auto;
    display: none;
    overflow-x: hidden;
    /*margin-left: 30px;*/
    /*margin-right: 30px;*/
    padding-top: 30px;
    box-sizing: border-box;
}
.content .content_ablum>li{
    background-color:white;
    color: #4d4d4d;
    /*height: 100%;*/
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 40px;
    padding-top: 30px;
    position: relative;
}
.content .content_ablum .ablum_lfet_line{
    background-color: black;
    width: 5px;
    height: 80px;
    display: inline-block;
    position: absolute;
    left: 0px;
    top:0;
}
.content .content_ablum .content_ablum_navi h1{
    display: inline-block;
    margin-top: 0;
}
.content .content_ablum .ablum_menu{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    /*display: inline-block;*/
}
.content .content_ablum .ablum_menu>a{
    display: inline-block;
    line-height: 25px;
    font-size: 15px;
    cursor: pointer;
}
.content .content_ablum .ablum_menu .ablum_menu_photo{
    border: 1px solid #cccccc;
    border-bottom: none;
    text-align: center;
    width: 40px;
}
.content .content_ablum .ablum_menu .ablum_menu_video{
    width: 85%;
    text-align: left;
    margin-left: 0px;
    border-bottom: 1px solid #cccccc;
    transform:translateX(-5px);
    padding-left: 5px;
}
/*照片部分，li*/
.content .content_ablum .photo_li{
    background-color: white;
    /*width: 150px;*/
    /*height: 150px;*/
}
.content .content_ablum .photo_li figure{
    background-color: red;
    display: inline-block;
    /*float: left;*/
    width: 150px;
    height: 150px;
    /*margin-left: 0px;*/
    /*margin-right: 0px;*/
    margin: 0;
    cursor: pointer;
}
.content .content_ablum .photo_li img{
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
}
.content .content_ablum .photo_li p{
    font-size: 22px;
    margin-bottom: 10px;
}

/*内容模块底部工具栏*/
.backTopBtn{
    background: url("../images/toparrow.png") no-repeat center center;
    background-color: #929292;
    opacity: 0.5;
    width: 40px;
    height: 40px;
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    position: fixed;
    right:30px;
    bottom:50px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
.backTopBtn:hover{
    background-color: #67cdf1;
    opacity: 1;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*底部模块*/
.footer {
    background-color: #eaeaea;
    width: 100%;
    /*height: 150px;*/
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*图片浏览器*/
.photoBrowser{
    background-color: black;
    opacity: 1;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1200;
    position: fixed;
    top:0;
    left:0;
    transition: display 1s ease-in-out 0s;
}
/*浏览器左上角当前显示图片的索引和图片总数*/
.photoBrowser .pb_indexDiv{
    position: absolute;
    top: 15px;
    left: 15px;
    color: #cccccc;
    font-size: 17px;
    background: none;
    cursor: none;
    display: inline-block;
}
.photoBrowser .pb_indexDiv>span{
}
.photoBrowser>div{
    cursor: pointer;
    background: url("../images/default-skin.png") no-repeat center top;
    position: absolute;
}
.photoBrowser .pb_closeBtn{
    background-position: -15px -59px;
    width: 14px;
    height: 14px;
    top: 20px;
    right: 20px;
}
.photoBrowser .pb_fullWindowBtn{
    background-position: -13px -15px;
    width: 18px;
    height: 14px;
    /*18 14*/
    top: 20px;
    right: 74px;
    /*退出全屏*/
    /*background-position: -57px -15px;*/
    /*width: 18px;*/
    /*height: 14px;*/
}
/*放大镜按钮*/
.photoBrowser .pb_magnifier{
    background-position: -102px -15px;
    width: 15px;
    height: 15px;
    top: 20px;
    right: 129px;
    /*缩小镜*/
    /*background-position: -146px -15px;*/
    /*width: 15px;*/
    /*height: 15px;*/
    /*返回的图标*/
    /*background-position: 58px 60px;*/
    /*width: 16px;*/
    /*height: 13px;*/
}
.photoBrowser .pb_preBtn{
    background-position: -147px -53px;
    width: 14px;
    height: 12px;
    top:50%;
    left: 20px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.45);
}
.photoBrowser .pb_nextBtn{
    background-position: -103px -53px;
    width: 14px;
    height: 12px;
    top:50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.45);
}
.photoBrowser .pb_figure{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 70%;
    height: 100%;
    display: inline-block;
    /*transform: translate(-50%,-50%);*/
}
.photoBrowser .pb_figure>a>img{
    width: 100%;
    height: 80%;
    display: inline-block;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.photoBrowser .pb_figure>figcaption{
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 15px;
    color: white;
}

/*每个文章*/
/*.content .content_articles>li{*/
    /*background-color: white;*/
    /*height: 750px;*/
    /*position: relative;*/
    /*margin-top: 30px;*/
    /*padding: 30px 60px 0px 60px;*/
    /*font-size: 22px;*/
    /*overflow: hidden;*/
    /*margin-left: 30px;*/
    /*margin-right: 30px;*/
/*}*/
/*.content .content_articles>li:last-child{*/
    /*margin-bottom: 30px;*/
/*}*/
/*.content .content_articles>li>.leftLine{*/
    /*background-color: black;*/
    /*width: 5px;*/
    /*height: 80px;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top:0;*/
/*}*/
/*.content .content_articles>li>div{*/
    /*color: #69697f;*/
    /*font-size: 17px;*/
    /*margin-bottom: 30px;*/
/*}*/
/*.content .content_articles>li>.art_title{*/
    /*width: 100%;*/
    /*height: 50px;*/
/*}*/
/*.content .content_articles>li>.art_picture{*/
    /*width: 400px;*/
    /*height: 250px;*/
/*}*/
/*.content .content_articles>li>.art_mainText{*/
    /*width: 100%;*/
    /*height: 250px;*/
/*}*/
/*.content .content_articles>li>.art_foot{*/
    /*width: 100%;*/
    /*border-top: 1px solid #cccccc;*/
    /*height: 80px;*/
    /*position: relative;*/
/*}*/
/*!*内容-文章-底部模块*!*/
/*.content .content_articles>li>.art_foot>.art_tag{*/
    /*width: 70%;*/
    /*height: 100%;*/
    /*position: absolute;*/
    /*top:0;*/
    /*left: 0;*/
/*}*/
/*.content .content_articles>li>.art_foot>.art_fullTextBtn{*/
    /*background-color: #4d4d4d;*/
    /*width: 80px;*/
    /*height: 25px;*/
    /*line-height: 25px;*/
    /*color: white;*/
    /*font-size: 13px;*/
    /*display: block;*/
    /*text-align: center;*/
    /*position: absolute;*/
    /*top:50%;*/
    /*right:0;*/
    /*transform: translateY(-50%);*/
    /*border-radius: 3px;*/
/*}*/



/*屏幕适配*/
@media screen and (max-width: 790px) {
    .navi{
        width: 100%;
        height: 330px;
        position: absolute;
        /*box-shadow: none;*/
    }
    .navi .navi_top{
        width: 100%;
        height: 100px;
    }
    .navi .navi_top .icon>img{
        bottom: -40px;
        transition-property: none;
    }
    .navi .navi_top .icon>img:hover{
        transform: none;
    }
    .navi .navi_top .navi_menu{
        opacity: 1;
    }
    .navi .navi_bottom{
        height: 230px;
        width: 100%;
        padding-top: 50px;
        background-color:#eaeaea;
        box-shadow: 0 0 0 white;
    }
    .navi .navi_bottom .name{
        margin: 0 auto;
    }
    .navi .navi_bottom .quotate_p{
        margin-top: 15px;
    }
    .navi .navi_bottom .home_div{
        display: inline-block;
        width: 30%;
        height: 25px;
        line-height: 25px;
        border: 1px solid #cccccc;
        color: #959595;
        border-radius: 5px;
    }
    .navi .navi_bottom .ablum_div{
        display: inline-block;
        width: 30%;
        height: 25px;
        line-height: 25px;
        border: 1px solid #cccccc;
        color: #959595;
        margin-left: 0px;
        margin-top: 65px;
        border-radius: 5px;
    }
    .navi .navi_bottom .moreFunc{
        opacity: 0;
    }
    .navi .navi_bottom .friendsLink{
        margin-top: 0px;
        transform: translateY(-150px);
    }
    .tools{
        /*z-index: 1000;*/
        /*background-color: #b6cbc6;*/
        background: url("../images/bg1.jpg") no-repeat center top;
        /*transform: none;*/
        /*transform: translateX(-300px);*/
        float: none;
        position: absolute;
        left: -300px;
        top:0;
    }
    .content{
        width: 100%;
        position: absolute;
        top:330px;
        left: -300px;
        /*transform: none;*/
        /*transform: translateX(-300px);*/
        height: 5500px;
    }
    .content .content_articles{
    }
    .content .content_ablum>li{
        margin-left: 0;
        margin-right: 0;
        padding-left: 10px;
        padding-top: 10px;
    }
    .content .content_ablum .content_ablum_navi .ablum_lfet_line{
        display: none;
    }
}