address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var{
    padding: 0;
    margin: 0;
}

/*全局设置*/
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
html{
    height: 100%;
}
body{
    background-color: #eaeaea;
    height: 100%;
    /*隐藏水平方向滚动条*/
    overflow-x:hidden
}

/*导航栏-起始位置为左侧*/
.navi{
    width: 300px;
    height: 100%;
    background-color: white;
    /*background-color: purple;*/
    /*float: left;*/
    text-align: center;
    position: fixed;
    left: 0;
    top:0;
    /*添加右侧阴影*/
    box-shadow: 1px 1px 15px white;
    /*opacity: 0;*/
    z-index: 1000;
}
.navi .navi_top{
    width: 100%;
    height: 180px;
    background-color: #4d4d4d;
    position: relative;
}
.navi .navi_top .icon img{
    width: 130px;
    height: 130px;
    border-radius: 70px;
    box-sizing: border-box;
    border: 5px solid white;
    position: absolute;
    bottom: -62px;
    left: 50%;
    margin-left: -65px;
    transition-duration: 0.5s;
    transition-property: transform;
}
.navi .navi_top .icon img:hover{
    transform: scale(2,2) rotate(90deg);
}
.navi .navi_bottom{
    background-color: #ffffff;
    width: 100%;
    height: 90%;
    padding-top: 90px;
    box-sizing: border-box;
    /*>>>>>>>>>>>>>>>>>>>*/
    pointer-events:none;
}
.navi .navi_bottom .name{
    font-size: 27px;
    /*margin-top: 90px;*/
    color: #929292;
}
.navi .navi_bottom .quotate_p{
    margin-top: 40px;
    color: #999999;
}
.navi .navi_bottom div{
    color: #696969;
    /*border: 0px;*/
    /*background-color: white;*/
}
.navi .navi_bottom button{
     color: #696969;
     border: 0px;
     background-color: white;
}
.navi .navi_bottom .home_div{
    font-size: 14px;
    margin-top: 50px;
}
.navi .navi_bottom .home_div>a{
    color: #696969;
    pointer-events: auto;
}
.navi .navi_bottom .home_div a:hover{
    color: burlywood;
}
.navi .navi_bottom .ablum_div{
    margin-top: 10px;
    font-size: 14px;
}
.navi .navi_bottom .ablum_div>a{
    color: #696969;
    pointer-events: auto;
}
.navi .navi_bottom .ablum_div a:hover{
    color: burlywood;
}
.navi .navi_bottom .moreFunc{
    margin-top: 50px;
}
.navi .navi_bottom .moreFunc>a{
    font-size: 13px;
    cursor: pointer;
    color: #696969;
    pointer-events: auto;
}
.navi .navi_bottom .moreFunc>a:hover{
    color: burlywood;
}
.navi .navi_bottom .friendsLink{
    margin-top: 25px;
}
.navi .navi_bottom .friendsLink>a{
    pointer-events: auto;
}
.navi .navi_bottom .friendsLink>a>img{
    width: 32px;
    height: 32px;
    margin: 5px;
}
.navi .navi_bottom .friendsLink>a>img:hover{
    transform: scale(1.2,1.2);
}

/*内容模块布局*/
.content{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: 0;
    transition: transform 0.5s ease-in-out 0s,backgroundSize 0.5s ease-in-out 1.5s;
    background-image: url("../images/bg1.jpg");
    overflow-y:hidden;
}
/*内容模块-左侧目录*/
.content .catalogue{
    width: 330px; /*360*/
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
}
.content .catalogue .introduction{
    text-align: center;
    margin: 0 auto;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content .catalogue .introduction>li{
    margin-bottom: 10px;
}
.content .catalogue .introduction>li:first-child{
    font-size: 22px;
}
/*内容模块-右侧内容-文章模块*/
.content .content_articles{
    margin-left: 300px;//330
    margin-right: 30px;
    height: 100%;
    overflow-y:auto;
    overflow-x: hidden;
}
/*每个文章*/
.content .content_articles>li{
    background-color: white;
    height: 750px;
    position: relative;
    margin-top: 30px;
    padding: 30px 60px 0px 60px;
    font-size: 22px;
    overflow: hidden;
    margin-left: 30px;
    margin-right: 30px;
}
.content .content_articles>li:last-child{
    margin-bottom: 30px;
}
.content .content_articles>li>.leftLine{
    background-color: black;
    width: 5px;
    height: 80px;
    position: absolute;
    left: 0;
    top:0;
}
.content .content_articles>li>div{
    color: #69697f;
    font-size: 17px;
    margin-bottom: 30px;
}
.content .content_articles>li>.art_title{
    width: 100%;
    height: 50px;
}
.content .content_articles>li>.art_picture{
    width: 400px;
    height: 250px;
}
.content .content_articles>li>.art_mainText{
    width: 100%;
    height: 250px;
}
.content .content_articles>li>.art_foot{
    width: 100%;
    border-top: 1px solid #cccccc;
    height: 80px;
    position: relative;
}
/*内容-文章-底部模块*/
.content .content_articles>li>.art_foot>.art_tag{
    width: 70%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}
.content .content_articles>li>.art_foot>.art_fullTextBtn{
    background-color: #4d4d4d;
    width: 80px;
    height: 25px;
    line-height: 25px;
    color: white;
    font-size: 13px;
    display: block;
    text-align: center;
    position: absolute;
    top:50%;
    right:0;
    transform: translateY(-50%);
    border-radius: 3px;
}
/*内容模块-右侧内容-相册模块*/



/*屏幕适配*/
@media screen and (max-width: 790px) {
    .navi{
        width: 100%;
        height: 330px;
        position: absolute;
    }
    .navi .navi_top{
        width: 100%;
        height: 100px;
    }
    .navi .navi_top .icon>img{
        bottom: -40px;
        transition-property: none;
    }
    .navi .navi_top .icon>img:hover{
        transform: none;
    }
    .navi .navi_bottom{
        height: 230px;
        width: 100%;
        padding-top: 50px;
        background-color:#eaeaea;
        box-shadow: 0 0 0 white;
    }
    .navi .navi_bottom .name{
        margin: 0 auto;
    }
    .navi .navi_bottom .quotate_p{
        margin-top: 15px;
    }
    .navi .navi_bottom .home_div{
        display: inline-block;
        width: 30%;
        height: 25px;
        line-height: 25px;
        border: 1px solid #cccccc;
        color: #959595;
        border-radius: 5px;
    }
    .navi .navi_bottom .ablum_div{
        display: inline-block;
        width: 30%;
        height: 25px;
        line-height: 25px;
        border: 1px solid #cccccc;
        color: #959595;
        margin-left: 0px;
        margin-top: 65px;
        border-radius: 5px;
    }
    .navi .navi_bottom .moreFunc{
        opacity: 0;
    }
    .navi .navi_bottom .friendsLink{
        margin-top: 0px;
        transform: translateY(-150px);
    }
    .content .catalogue{
        opacity: 0;
    }
    .content{
        top:330px;
        left:0;
        /*overflow-y: auto;*/
        /*overflow: auto;*/
    }
    .content .content_articles{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        /*overflow-y: hidden;*/
        overflow-x: auto;
    }
    body{
        overflow-y: auto;
    }
}